<div id="<%= dom_id campaign %>">
  <p>
    <strong>Title:</strong>
    <%= campaign.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= campaign.description %>
  </p>

  <p>
    <strong>State:</strong>
    <%= campaign.state %>
  </p>

  <p>
    <strong>Published at:</strong>
    <%= campaign.published_at %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= campaign.position %>
  </p>

</div>
